# git cred file
.gitconfig.local

# no node
node_modules

# stupid os
.DS_Store
Desktop.ini

# thumbnail cache files
._*
Thumbs.db

# might appear on external
.Spotlight-V100
.Trashes

# compiled python files
*.pyc

### root level jazz
.CFUserTextEncoding
.Trash/
.atom/
.bash_history
.bash_sessions/
.cache/
.config/
.dropbox/
.npm/
.oracle_jre_usage/
.ssh/
.subversion/
.vagrant.d/
Applications/
Desktop/
Development/
Documents/
Dropbox/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/

